/* AUTOCOMPLETESTATE */

.autocompletestate{
  width: 100%;
  position: relative;
}

.autocompletestate input{
  font-size: 1.2em;
  width: 100%;
  padding:0.4em;
}

.autocompletestate ul{
  position: absolute;
  left: 0;
  width: 100%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  z-index: 1;
}

.autocompletestate li{
  text-align: left;
  list-style:none;
  width: 100%;
  padding:0.4em;
  background-color: #fff;
}

.autocompletestate li.active{
  width: 100%;
  background-color: #4bf;
}

.autocompletestate .highlight {
  background-color: #E2E2E2;
}

.autocompletestate li.active .highlight {
  background: #666;
  color: #fff;
}
.main{  
  
  /*width: 30em;
  margin-bottom: 5em;*/
}