 <div>

     <form name="UpdateUser">
         <div class="container">
            
             <h2 class="font-normal">Update Profile</h2>
             <div class="row">
                 <span>Update Profile As</span>
                 <div>
                     <label><input type="radio" ng-init="CurrentUser.RegisteredAs='Organization'" ng-model="CurrentUser.RegisteredAs" name="RegisteredAs" value="Organization" required />Organization</label>
                     <label><input type="radio" ng-model="CurrentUser.RegisteredAs" name="RegisteredAs" value="Individual" required />Individual</label>
                 </div>
                 <div class="col-md-5">
                     <!-- Form Name -->
                     <div class="form-group topGap-25">
                         <div class="form-group topGap-25">
                             <span class="control-label">Organization Name</span>
                             <span>
                                 <input type="text" ng-model="CurrentUser.OrgName" name="OrgName" placeholder="" class="form-control input-md" ng-required="CurrentUser.RegisteredAs=='Organization'" ng-disabled="CurrentUser.RegisteredAs=='Individual' || loading " />
                                 <span style="color:red" ng-show="UpdateUser.OrgName.$dirty && UpdateUser.OrgName.$invalid">Organization Name is required.</span>
                             </span>
                         </div>
                         <div class="form-group topGap-25">
                             <span class="control-label">Organization Street</span>
                             <span>
                                 <input type="text" ng-model="CurrentUser.OrgStreet" name="OrgStreet" placeholder="" class="form-control input-md" ng-disabled="CurrentUser.RegisteredAs=='Individual'" />
                             </span>
                         </div>

                         <div class="form-group topGap-25">
                             <span class="control-label">Organization State</span>
                             <div class="main" ng-disabled="CurrentUser.RegisteredAs=='Individual' || loading ">
                                 <autocompleteorgstate ng-model="CurrentUser.OrgState" ng-disabled="CurrentUser.RegisteredAs=='Individual' || loading " name="State" attr-placeholder="type to search States..." click-activation="true" data="States" on-type="updateStates" required></autocompleteorgstate>
                             </div>
                             <span style="color:red" ng-show="UpdateUser.State.$dirty && UpdateUser.State.$invalid">State is required.</span>                              
                         </div>

                         <div class="form-group topGap-25">
                             <span class="control-label" ng-disabled="CurrentUser.RegisteredAs=='Individual' || loading ">Organization City</span>
                             <div class="main">
                                 <autocompleteorgcity ng-model="CurrentUser.OrgCity" ng-disabled="CurrentUser.RegisteredAs=='Individual' || loading " name="City" attr-placeholder="type to search Cities..." click-activation="true" data="cities" on-type="updateCities" required></autocompleteorgcity>
                               
                               </div>
                             <span style="color:red" ng-show="UpdateUser.City.$dirty && UpdateUser.City.$invalid">City is required.</span>
                        </div>
                        
                     </div>
                     <div class="form-group topGap-25">
                         <span class="control-label">First Name</span>
                         <span>
                             <input name="FirstName" ng-model="CurrentUser.UserFirstName" type="text" ng-disabled="loading" placeholder="" class="form-control input-md" required>
                             <span style="color:red" ng-show="UpdateUser.FirstName.$dirty && UpdateUser.FirstName.$invalid">FirstName is required.</span>
                         </span>
                     </div>
                     <div class="form-group topGap-25">
                         <span class="control-label">Last Name</span>
                         <span>
                             <input name="LastName" ng-model="CurrentUser.UserLastName" type="text" ng-disabled="loading" placeholder="" class="form-control input-md" required>
                             <span style="color:red" ng-show="UpdateUser.LastName.$dirty && UpdateUser.LastName.$invalid">LastName is required.</span>
                         </span>
                     </div>
                     <div class="form-group topGap-25">
                         <span class="control-label">User Name</span>
                         <span>

                             <input name="Username" ng-model="CurrentUser.UserName" type="text" ng-disabled="loading" placeholder="" class="form-control input-md" required>
                             <span style="color:red" ng-show="UpdateUser.Username.$dirty && UpdateUser.Username.$error.required">User Name is required.</span>
                             <span style="color:red" ng-show="UpdateUser.Email.$error.isDuplicateUsername">This UserName is already taken.</span>
                         </span>
                     </div>


                     <div class="form-group topGap-25">
                         <span class="control-label">City</span>
                         <div class="main">
                             <autocomplete ng-model="CurrentUser.UserCity" ng-disabled="loading" attr-placeholder="type to search Cities..." click-activation="true" data="cities" on-type="updateCities"></autocomplete>
                         </div>
                         <span style="color:red" ng-show="UpdateUser.City.$dirty && UpdateUser.City.$invalid">City is required.</span>
                     </div>
                     <div class="form-group topGap-25">
                         <span class="control-label">State</span>

                         <div class="main">
                             <autocompletestate ng-model="CurrentUser.UserState" ng-disabled="loading" attr-placeholder="type to search States..." click-activation="true" data="States" on-type="updateStates"></autocompletestate>
                         </div>
                         <span style="color:red" ng-show="UpdateUser.State.$dirty && UpdateUser.State.$invalid">State is required.</span>

                     </div>

                     <div class="form-group topGap-25">
                         <span class="control-label">Street</span>
                         <span>
                             <input name="Street" type="text" ng-disabled="loading" ng-model="CurrentUser.UserStreet" placeholder="" class="form-control input-md" required>
                             <span style="color:red" ng-show="UpdateUser.Street.$dirty && UpdateUser.Street.$invalid">Street is required.</span>
                         </span>
                     </div>
                     <!-- Text input-->
                 </div>
                 <div class="col-md-5 ">


                     <div class="form-group topGap-25">
                         <span class="control-label">Email Address</span>
                         <span>
                             <input name="Email" type="email" ng-disabled="loading" ng-model="CurrentUser.UserEmailId" placeholder="Email Address" class="form-control input-md" required>

                             <span style="color:red" ng-show="UpdateUser.Email.$error.email">Invalid Email address.</span>
                             <span style="color:red" ng-show="UpdateUser.Email.$dirty && UpdateUser.Email.$error.required">Email is required.</span>
                             <span style="color:red" ng-show="UpdateUser.Email.$error.isDuplicatedEmail">This Email is already taken.</span>

                         </span>

                         <span id="ValidateEmail"></span>
                     </div>

                     <!-- Password input-->
                     <div class="form-group topGap-25">
                         <span class="control-label">Password </span>
                         <span>
                             <input name="Password" ng-model="CurrentUser.Password" ng-disabled="loading" type="password" placeholder="" minlength="7" ng-maxlength="15" class="form-control input-md" required>
                             <span style="color:red" ng-show="UpdateUser.Password.$dirty && UpdateUser.Password.$invalid">Password is required.</span>
                             <span style="color: red" class="error" ng-show="UpdateUser.Password.$dirty && UpdateUser.Password.$error.minlength">Atleast 7 characters required.</span>

                         </span>
                     </div>
                    
                     <div class="form-group topGap-25">
                         <span class="control-label">Contact No. </span>
                         <span>
                             <input name="Number" ng-model="CurrentUser.UserMobileNo" ng-disabled="loading" type="text" maxlength="14" placeholder="" class="form-control input-md" required>
                             <span style="color:red" ng-show="UpdateUser.Number.$dirty && UpdateUser.Number.$invalid">Contact No. is required.</span>
                         </span>
                     </div>
                 </div>
             </div>

             <div class="form-group">

                 <div class="topGap-10">
                     <input type="submit" name="singlebutton" class="btn btn-primary" ng-disabled="UpdateUser.$invalid || loading" ng-click="InsertOrgAndUser(CurrentUser)" value="Update" />
                 </div>
             </div>
         </div>

     </form>

</div>


