<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.XamForms.SignaturePad" version="2.0.5" targetFramework="MonoAndroid51" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v4" version="22.2.1.0" targetFramework="MonoAndroid51" />
  <package id="Xamarin.Forms" version="1.4.3.6374" targetFramework="MonoAndroid51" />
  <package id="Xamarin.GooglePlayServices.Base" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Gcm" version="25.0.0.0" targetFramework="MonoAndroid50" />
</packages>